.app-api-logo {
  width: 50%;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeSlideIn 0.5s ease-out forwards;
}

.app-api-logo-parent {
  display: flex;
  justify-content: center;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
